.contact-form {
    display: flex;
    gap: 1.88rem;
    font-family: 'poppins';
}

.side-bar {
    width: 21rem;
    height: 28rem;
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    margin: 5rem 0 8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-div {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.phone-call {
    display: flex;
    height: 30px;
    gap: 1rem;
    align-items: center;
}

.phone-call p {
    color: #000 !important;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
}

.phone-icone {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #DB4444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #FFF;
    font-size: 20px;
}

.para-number {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.para-number p {
    color:  #000 !important;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

.underline {
    border-bottom: 1px solid #7c7c7c;
    margin: .8rem 0 1.1rem 0;
}





.contact-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 28rem;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    margin: 5rem 0 8rem 0;
}

.inner-contact {
    width: 92%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-input {
    display: flex;
    gap: 1rem;
}

.first-input input {
    width: 14.6875rem;
    height: 3.125rem;
    border-radius: 0.25rem;
    background: #F5F5F5;
    outline: none;
    border: none;
    padding: 0.8rem 1rem;
}

.first-input input::placeholder {
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.second-text {
    width: 100%;
}

.second-text textarea {
    width: 100%;
    height: 12.9375rem;
    border-radius: 0.25rem;
    background: #F5F5F5;
    border: none;
    outline: none;
    padding: 1rem 1rem;
}

.second-text textarea::placeholder {
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.message-but {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.message-but button {
    border-radius: 0.25rem;
    background: #DB4444;
    padding: 1rem 3rem;
    border: none;
    color: #FAFAFA;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; 
}
   

@media (max-width: 600px) {

   .contact-form {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
   }

   .side-bar {
    margin: 0rem 0 3rem 0;
   }
   .contact-side {
    width: 100%;
    height: 580px;
    margin: 2rem 0;
   }
   .first-input {
    width: 100%;
    display: flex;
    flex-direction: column;
   }

   .first-input input {
    width: 100%;
   }
  }
