.home-main-slider {
  height: 700px !important;
}
.home-main-slider .swiper {
  width: 90%;
  height: 90% !important;
}

.home-main-slider .swiper-slide {
  height: 90% !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 98%;
  height: 96%;
  margin: auto;
  /* object-fit: cover; */
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #db4444;
  border: 3px solid rgb(179, 177, 177);
  height: 16px;
  width: 16px;
}
